.navbar {
    border-bottom: 2px solid #6e42ca;
}

.btn-github {
    background-color: #333;
    color: white;
    border: none;
}

.btn-github:hover {
    background-color: #111;
    color: white;
}

.btn-login{
    background-color: #6e42ca;
    color: white;
    border: none;
}

.btn-login:hover {
    background-color:#5a32b0 ;
    color: white;
}